<%# --------- Banner --------- %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images3.alphacoders.com/827/827917.jpg);">
  <div class="container">
    <p><span class="vhs-title" id="vhs-title"></span></p><br>
	  <%= link_to movies_path, class: "vhs-button" do %>
      <%= image_tag "play-button.png" %> PLAY
    <% end %>
  </div>
</div>

<%# --------- Card --------- %>
<div class="container-cards">
<h2>Special 90's selection</h2>

	<div class= "cards">

		<% @movies.each do |movie| %>
      <div class="card-category">
        <%= cl_image_tag movie.photo.key, height: 200, width: 130 %><br><br>
        <%= link_to "Book", movie_path(movie), class: "vhs-button" %>
		  </div>
    <% end %>
	</div>
</div>
<br><br><br>