.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
  
.card-category {
  width: 200px;
  height: 200px;
  // border-radius: 3px;
  // box-shadow: 5px 5px 5px black;
  text-align: center;
  padding: 20px;
  // border: 1px solid rgb(230,230,230);
}
  
.card-movie {
  height: 300px;
  width: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px;
  border: 1px solid black;
  align-items: center;
  align-content: center;
}

.card-movie img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.movie-title {
  display: flex;
  align-items: flex-start;
  align-content: center;
}

.movie-title h2 {
  font-size: 24px
}

.movie-details {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
  