.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  padding: 0px 50px;
  color: rgb(237, 236, 224);
  border-top: 1px dashed rgba(237, 236, 224, 0.5);
  padding: 40px;
  font-size: 16px;
}

.footer li {
  list-style: none;
  text-align: center;
  margin: 5px 0px;
}

.footer-my-space-link:hover {
  text-decoration: underline overline rgb(237, 236, 224);
}

.footer-lewagon {
  opacity: 0.5;
}
