.navbar-lewagon {
  justify-content: space-between;
  color: rgb(237, 236, 224);
  background-color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(237, 236, 224);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
